
	  
	</div>
<!--	<div class="navbar navbar-inverse navbar-fixed-bottom">
	  <div class="navbar-inner">
		  fluid 是偏移一部分
		  <div class="container-fluid">
			  <a class="brand" href="index.html">
				  <img src="images/icons/Dribbble.png" />
			  </a>

			  <font color="#5CB85C" style="font-size: larger">我是头或者底部</font>
			  <input type="text" style="margin-left: 700px;"/>
		  </div>
	  </div>
	</div>-->
	<div class="navbar navbar-inverse navbar-fixed-bottom">
	<nav class="navbar navbar-inverse  navbar-fixed-bottom">
	  <a class="navbar-brand hidden-sm" href="http://www.bootcss.com" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'navbar-首页'])">Bootstrap中文网</a>
	  
	</nav>
	</div>
  </body>
  
</html>

